<navbar></navbar>
<div class="row" id='room'>
    <div id="left-sidebar" class="col-sm-2">
        <div id="leader-profile" ng-repeat="score in room.userScores" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="img-circle profile-img" ng-src="{{score.user.picture}}" alt="">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <playlist user='user' room='room' playlist="playlist"></playlist>
    </div>
    <div class="col-sm-4" id="right-sidebar">
        <youtube-embed></youtube-embed>
    </div>
    <!-- <div class="col-md-12">
        <h1>Welcome to {{room.name}}!</h1>
        <h2>Created by {{room.creator.username}}</h2>
        <h3>This event is being hosted at {{room.location}}</h3>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <playlist user='user' room='room' playlist="playlist"></playlist>
        </div>
        <div>
            <h4>Users in this room right now:</h4>
            <p ng-repeat='user in room.users'>{{user.username}}</p>
        </div>
        <div>
            <h2>user Scores</h2>
            <ul>
                <li ng-repeat="score in room.userScores"> {{score.user.username}} - {{score.score}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Power Ups</h2>
        <ul>
            <li ng-repeat="powerup in powerupObj.powerups track by $index" ng-click="usePowerUp(powerup, user, room)"> {{powerup}}
            </li>
        </ul>
    </div> -->
</div>
