.graph-buttons {
    h5 {
        font-family:$nav-header-font;
    }
    text-align: center;
    button {
        font-family: sans-serif;
        font-size: 1.2em;
    }
}
.buttons {
    margin-top: 25px;
}
.chart{
    margin-top: 8px;
    border-bottom: 1px solid $table-border-color;
    border-radius: 8px;
}
svg {
    text {
        fill: white;
    }
}

.chartActive {
    background-color: $table-border-color;
}


