#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  .row {
    width: 100%;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .highlight {
  	color: white;
  	background-color: #00e5e6;
  }
}

