#room-table {
  td, th {
    border-color: $table-border-color;
  }
  a {
    color: $primary-text-color;
  }
}

#power-ups-label {
    color: $highlight-color;
}

#room {
    .ninja-symbol {
        color: $primary-text-color;
    }
    height: 100%;
    padding-top: 30px;
    #left-sidebar {
        text-align: center;
        position: fixed;
        left: 0;
        overflow: scroll;
        padding-bottom: 200px;
        .profile-img {
            width: 95%;
            border: 1px solid $border-color;
            transition: width 0.2s;
        }
        .profile-img:hover {
            width: 100%;
        }
        #leader-profile {
            margin-top: 10px;
        }
        #leaderboard-score {
            font-family: $font-stack;
        }
    }
    #right-sidebar {
        text-align: center;
        position: fixed;
        right: 0;
        overflow: scroll;
        padding-bottom: 200px;
        #powerup-icon {
            width: 95px;
            &:hover {
                animation: bounce 0.7s ease-in-out;
            }
            &:active {
                -ms-transform: scale(0.8);
                /* IE 9 */
                -webkit-transform: scale(0.8);
                /* Safari */
                transform: scale(0.8);
            }
        }
        #power-name {
            margin-top: 20px;
            font-size: 1em;
            font-weight: bold;
            &:hover {
                -ms-transform: scale(1.1);
                /* IE 9 */
                -webkit-transform: scale(1.1);
                /* Safari */
                transform: scale(1.1);
            }
        }
        @keyframes bounce {
            0% { transform: scale(1.0); }
           10% { transform: scale(1.2); }
           20% { transform: scale(1.3); }
           30% { transform: scale(1.2); }
           40% { transform: scale(1.0); }
           50% { transform: scale(1.1); }
           60% { transform: scale(1.0); }
           70% { transform: scale(1.05);}
           80% { transform: scale(1.0); }
           90% { transform: scale(1.02);}
          100% { transform: scale(1.0); }
        }
    }
    .ranking {
        text-align: right;
    }
    .score-data {
        text-align: center;
    }
    .score-card {
        margin-top: 20px;
        font-size: 1em;
        font-weight: bold;
        span {
            font-weight: normal;
        }
    }
}

/*#player-bar {
    z-index: -1;
    opacity: 0.0;
    position: fixed;
    bottom: 0px;
    width: 50%;
    height: 60%;
}*/
