#room {
    height: 100%;
    padding-top: 30px;
    #left-sidebar {
        .profile-img {
            width: 95%;
            border: 1px solid #00ff55;
            transition: width 0.2s;
        }
        .profile-img:hover {
            width: 100%;
        }
        #leader-profile {
            margin-top: 10px;
        }
    }
    #right-sidebar {}
    .score-data {
        text-align: center;
    }
    .score-card {
        margin-top: 2px;
        line-height: 50%;
        font-size: 1.2em;
        font-weight: bold;
        span {
            font-weight: normal;
        }
    }
}

#player-bar {
    z-index: -1;
    opacity: 0.0;
    position: fixed;
    bottom: 0px;
    width: 50%;
    height: 60%;
}
