#lobby {
    background: $main-content-background;
    height: 100%;
    padding-top: 40px;
    #room-table {
        opacity: 0.85;
        th {
            font-size: 1.4em;
        }
    }
    #room-table:hover {
        opacity: 1;
    }
    td {
        vertical-align: middle;
    }
}
