<navbar></navbar>
<div class="row profile-details">
    <div class="col-sm-12">
        <div class="row">
            <img src="{{loggedInUser.picture}}" alt="">
        </div>
        <div class="row">
            <form name="userForm" ng-submit="updateUser(loggedInUser, updateDetails)">
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="userName">Username:</label>
                    <p class="profile-text">{{loggedInUser.username}}</p>
                    <input ng-show="isEditable()" ng-model="updateDetails.username" type="text" id="userName" class='form-control'>
                </div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <label for="userEmail">Email:</label>
                    <p class="profile-text">{{loggedInUser.email}}</p>
                    <input ng-show="isEditable()" ng-model="updateDetails.email" type="text" id="userEmail" class="form-control">
                </div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <input class="btn btn-danger" ng-show="isEditable()" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div id="edit-button">
            <button class="btn hvr-rectangle-out" ng-click="setEditable()">Edit</button>
        </div>
    </div>
    <div class="row" id='powerupDiv-profile'>
        <div class="col-sm-4 col-sm-offset-4">
            <div>
                <h4 id="public-powerup-label">Your Power Ups</h4>
            </div>
            <div ng-repeat="powerup in userPowerups" class='col-sm-6'>
                <img id="powerup-icon" ng-src="{{powerup.icon}}"></img>
                <p id="power-name">{{powerup.name}}</p>
            </div>
        </div>
    </div>
</div>
