/*Imported Fonts*/
@font-face {
    font-family: ninjaFont;
    src: url(/lastninja.ttf);
}

/*Colors*/
$red: #FF4136;
$transparent-white : rgba(255,255,255,0.3);
/*Text*/
$main-font: 'Montserrat';
$nav-header-font: ninjaFont;
$primary-text-color: white;
$font-stack: $main-font;
$secondary-font-stack: Helvetica;
$highlight-color: $red;

/*Border colors*/
$navbar-border-color: $red;
$border-color: black;
$table-border-color: $red;
$white-border: $transparent-white;

/*Buttons*/
$primary-button-color: black;
$button-border-color: $red;
$button-hover-color: $red;
$button-hover-border-color: $red;
$button-active-color: $red;

/*Background*/
$background-color: black;
$main-content-background: black;
$navbar-background-color: black;



