navbar {

  .container {
    width: 91%;
    max-width: 1340px;
  }

  #logout {
    font-size: 1.1em;
  }
  span.glyphicon {
    font-size: 1.5em;
    margin: auto;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
}
