


.player-bar {
/*	position: fixed;
	bottom: 0px;
	left: 0px;*/
	width: 100%;
	background: white;
	.video-embed {
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	youtube-embed {
		margin: 0 auto;
	}

}

.player-bar-buttons {
	margin: 0 auto 10px;
	width: 500px;
	text-align: center;
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
		text-decoration: none;
		color: magenta;
	}
}



/*#nav-items {
	margin: 0 auto;
	width: 400px;
}

.navbar {
	position: fixed;
	left: 0px;
	background: white;
}

.navbar a {
	font-size: 20px;
	color: black;
}

.navbar a:hover {
	color: magenta;
}

.nav-item {
	padding-bottom: 25px;
	padding-left: 50px;
}

.delete-button {
	border: none;
	background: white;
	margin: 0 5px;
}

.glyphicon-remove {
	color: red;
}

.currentSongText {
	text-align: center;
	padding-bottom: 10px;
	position: fixed;
	bottom: 460px;
}

.main-container {
	padding-bottom: 100px;
}

.song-tags-list {
	display: inline-block;
}

.playlist-filters {
	display: inline-block;
}

.song-tag a{
	color: magenta;
}
.song-tag a:hover{
	color: black;
}

#youtubeVideo {
	position: fixed;
	bottom: 100px;
}

.song {
	font-size: 18px;
	padding: 10px;
}

.editableText {
	font-size: 16px;
	font-style: italic;
	padding-bottom: 20px;
}

.addTagForm {
	margin-left: 35px;
}*/