#playlist {
    table {
        opacity: 0.85;
    }
    table:hover {
        opacity: 1;
    }
    th {
        font-size: 1.3em;
    }
    #playlist-table {
        padding-bottom: 30px;
    }
    .spacer {
      margin-bottom: 4%;
    }
}
