<navbar></navbar>
<div class="row buttons">
    <div class="col-sm-8 col-sm-offset-2 graph-buttons">
        <h5>Switch to:</h5>
        <div class="btn-group" role="group">
            <button ng-style="buttonActive('overall')" class="btn btn-primary" ng-click='getOverallPopularity()'>Most Loved Songs</button>
            <button ng-style="buttonActive('singular')"class="btn btn-primary" ng-click='getSingularPopularity()'>Song Popularity By Party</button>
            <button ng-style="buttonActive('hated')" class="btn btn-primary" ng-click='getHatedSongs()'>Most Hated Songs</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 chart">
        <nvd3 id='barchart1' options='options' data='data'></nvd3>
    </div>
</div>
<div class="row buttons">
    <div class="col-sm-8 col-sm-offset-2 graph-buttons">
        <h5>Switch to:</h5>
        <div class="btn-group" role="group">
            <button ng-style="buttonActive('user')" class="btn btn-primary" ng-click='getUserLocPop()'>Popularity by User Location</button>
            <button ng-style="buttonActive('room')" class="btn btn-primary" ng-click='getRoomLocPop()'>Popularity by Room Location</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 chart">
        <nvd3 options='options2' data='data2'></nvd3>
    </div>
</div>
