<!-- <div ng-repeat='room in rooms'>
    {{room}}
</div> -->
<navbar></navbar>
<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-5">
        <button class="btn btn-primary" ng-show='singular' ng-click='getOverallPopularity()'>Overall Song Popularity</button>
        <button class="btn btn-primary" ng-show='overall' ng-click='getSingularPopularity()'>Song Popularity By Party</button>
    </div>
</div>
