<div id="playlist" class='col-md-12 col-sm-12'>
     <div class="row">
        <div class="playlist-header col-md-8 col-md-offset-2">
            <button ng-click="startPlaylist()" class="btn playlist-button">Start the jamz</button>
            <button ui-sref="submit-song({roomId: room._id})" class="btn-success btn playlist-button">Add a Song!!!!!</button>
            <div class="currently-playing">
                <h4 id="currently-playing" ng-show="currentlyPlaying()">Currently Playing:</h4><p id="currently-playing-title">{{currentlyPlaying().song.title}}</p>
            </div>
        </div>
    </div>
    <div class='spacer'>
    </div>
    <div class="row" id="playlist-table">
        <div class="col-md-12 col-sm-12">
            <table class='table'>
                <tr>
                    <th>Submitter</th>
                    <th>Song</th>
                    <th>Vote</th>
                    <th>Honor</th>
                    <th></th>
                </tr>
                <tr ng-repeat='songObj in playlist.songs' ng-click="loadVideoById(songObj)">
                    <td><img class="img-circle" id="submittedBy-image" src="{{songObj.submittedBy.picture}}" alt=""></td>
                    <td class="song-title">{{songObj.song.title}}</td>
                    <td>
                        <button class="btn btn-sm btn-success" ng-click="vote($event, songObj, {type: 'up', amount: upvoteAmount()}, user, room)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        <button class="btn btn-sm btn-danger" ng-click="vote($event, songObj, {type: 'down', amount: downvoteAmount()},user,room)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </td>
                    <td class='song-honor'>{{getVoteValue(songObj)}}</td>
                    <td>
                        <span ng-hide="{{ checkIfUserVoted(user, songObj) === false || checkIfUserVoted(user, songObj) === undefined }}" class='glyphicon glyphicon-ok checker'></span>
                         <span ng-hide="{{ checkIfUserVoted(user, songObj) === true || checkIfUserVoted(user, songObj) === undefined }}" class='glyphicon glyphicon-remove x'></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>