    <div class='col-md-3'></div>
	<div id="playlist-table" class='col-md-6'>
    <button ui-sref="submit-song" class="btn-default btn">Add a Song!!!!!</button>
    <br>
    <br>
		<table class='table'>
			<tr>
				<th>Song</th>
				<th>Artist</th>
                <th>Vote</th>
                <th>Vote Count</th>
			</tr>
			<tr ng-repeat='song in songs()'
            ng-click='loadVideoById(song)' ng-class='{highlight: hover}' ng-mouseenter="hover=true" ng-mouseleave="hover=false">
				<td>{{song.title}}</td>
				<td>{{song.artist}}</td>
                <td>
                    <button class="btn btn-sm btn-success" ng-click="vote($event, song, 'up')"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    <button class="btn btn-sm btn-danger" ng-click="vote($event, song, 'down')"><span class="glyphicon glyphicon-arrow-down"></span></button>
                </td>
                <td>{{getVoteValue(song)}}</td>
			</tr>
		</table>
	</div>
<!-- <div class='col-md-6'>
    <table class='table'>
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Vote</th>
            <th>Vote Count</th>
        </tr>
        <tr ng-repeat='song in songs' ng-click='loadVideoById(song.youTubeId)' ng-class='{highlight: hover}' ng-mouseenter="hover=true" ng-mouseleave="hover=false">
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <td>
                <button class="btn btn-sm btn-success" ng-click="vote($event, song, 'up')"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <button class="btn btn-sm btn-danger" ng-click="vote($event, song, 'down')"><span class="glyphicon glyphicon-arrow-down"></span></button>
            </td>
            <td>{{song.voteValue}}</td>
        </tr>
    </table> -->

