<div id="playlist" class='col-md-12 col-sm-12'>
     <div class="row">
        <div class="playlist-header col-md-8 col-md-offset-2">
            <h4 id="room-name-display">{{room.name}}</h4>
            <div class="currently-playing" ng-show="currentlyPlaying()">
                <div id="player-bar" class="row">
                    <youtube-embed width="320" height="180"></youtube-embed>
                    <!-- <img ng-if="currentlyPlaying()" src="{{currentlyPlaying().song.thumbnails.medium.url}}" alt=""> -->
                </div>

                <p id="currently-playing-title">{{currentlyPlaying().song.title}}</p>
            </div>
            <button ng-click="startPlaylist()" class="btn hvr-rectangle-out playlist-button">Start the jamz</button>
            <button ng-click="toggle(false)" class="btn hvr-rectangle-out playlist-button">Add a Song</button>
        </div>
    </div>
    <div class='spacer'>
    </div>
    <div class="row" id="playlist-table">
        <div class="col-md-12 col-sm-12">
            <table class='table'>
                <tr>
                    <th>Submitter</th>
                    <th>Song</th>
                    <th>Vote</th>
                    <th>Honor</th>
                    <th></th>
                </tr>
                <tr ng-repeat='songObj in playlist.songs' ng-click="loadVideoById(songObj)">
                    <td><img class="img-circle" id="submittedBy-image" src="{{songObj.submittedBy.picture}}" alt=""></td>
                    <td class="song-title">{{songObj.song.title}}</td>
                    <td>
                        <button class="btn btn-sm hvr-rectangle-out" ng-click="vote($event, songObj, {type: 'up', amount: upvoteAmount()}, user, room)" ng-disabled='{{ checkUserVote(user, songObj) === "upVote" }}' ng-class="{upVoted: {{ checkUserVote(user, songObj) === 'upVote' }} }"><span class="glyphicon glyphicon-arrow-up"></span></button>

                        <button class="btn btn-sm hvr-rectangle-out" ng-click="vote($event, songObj, {type: 'down', amount: downvoteAmount()},user,room)" ng-disabled='{{ checkUserVote(user, songObj) === "downVote" }}' ng-class="{downVoted: {{ checkUserVote(user, songObj) === 'downVote'}} }"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </td>
                    <td class='song-honor'>{{getVoteValue(songObj)}}</td>
                    <td>
                </tr>
            </table>
        </div>
    </div>


<div id='chat'>
    <div id='chathead'>DOJO CHAT</div>
    <div id='msgblock'>
        <div id='msgs' ng-repeat='message in messages'>
        {{message.text}}
        </div>
    </div>
    <input id='chatForm' ng-model='chatEntry' ng-Enter="messageWorks()"/>
</div>


</div>


