<section id="home">
    <div class="row">
        <div class='col-md-8 col-md-offset-2'>
            <!-- <youtube-embed height='350' width='500' videoid='I2mK-Ql9r1Y'></youtube-embed> -->
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success" ng-click="play()">Play</button>
                    <button class="btn btn-default" ng-click="pause()">Pause</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <search-add></search-add>
        <playlist songs='songs'></playlist>
    </div>
</section>
