<section id="home">
<!--     <div class="row">
        <div class='col-md-8 col-md-offset-2'>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success" ng-click="play()">Play</button>
                    <button class="btn btn-default" ng-click="pause()">Pause</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
  <!--       <search-add></search-add> -->
        <playlist songs='songs'></playlist>
    </div>
</section>
