* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
@import 'profile/main';
@import 'userAnalytics/main';
@import 'lobby/main';
@import 'room/main';