* {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;	
}

body {
  background: white;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
@import 'profile/main';
@import 'userAnalytics/main';
@import 'lobby/main';
@import 'room/main';
@import 'analytics/main';
@import 'analytics/user';
@import 'analytics/song';