<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row" id="create-form-btn">
            <div class="col-sm-12">
                <button type='button' class='btn btn-primary' ng-click="showForm()">Create A Room</button>
            </div>
        </div>
        <div class="row" id="roomCreateForm">
            <div class="col-sm-12">
                <form ng-submit="createNewRoom()" class='form-group' name="roomForm" ng-show="getRoomState()" novalidate>
                    <div class="form-group">
                        <label for="roomName">Name</label>
                        <input ng-model="newRoom.name" type="text" id="roomName" name="name" required class='form-control'>
                    </div>
                    <p class='error' ng-show="roomForm.name.$invalid && roomForm.name.$dirty">Name is required!</p>
                    <div class="form-group">
                        <label for="roomLocation">Location</label>
                        <input ng-model="newRoom.location" type="text" id="roomLocation" name="location" required class='form-control'>
                    </div>
                    <div class="checkbox">
                        <label for="roomPrivacy">
                            <input ng-model="newRoom.isPrivate" type="checkbox" id="roomPrivacy" name="privacy">Private
                        </label>
                    </div>
                    <div id="submit-button">
                    <input class="btn btn-success" type="submit"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
