<div class='col-md-8 col-md-offset-2' id='roomCreation'>
	<button type='button' class='btn btn-default btn-lg' ng-click="showForm()">Create A Room</button>
	<form ng-submit="createNewRoom()" class='form-group' name="roomForm" ng-show="getRoomState()" novalidate>
		<div class="form-group">
			<label for="roomName">Name</label>
			<input ng-model="newRoom.name" type="text" id="roomName" name="name" required class='form-control'>
		</div>
		<div class="checkbox">
			<label for="roomPrivacy">
			<input ng-model="newRoom.privacy" type="checkbox" id="roomPrivacy" name="privacy">Private
			</label>
		</div>
		<div class="form-group">
			<label for="roomLocation">Location</label>
			<input ng-model="newRoom.location" type="text" id="roomLocation" name="location" required class='form-control'>
		</div>
			<label>Ambassadors</label>
			<div class="form-inline">
				<div class='form-group'>
					<input ng-model="newRoom.ambassadors[0]" type="text" id="roomAmbassadors1" name="ambassadors1" required class='form-control'>
				</div>
				<div class='form-group'>
					<input ng-model="newRoom.ambassadors[1]" type="text" id="roomAmbassadors2" name="ambassadors2" required class='form-control'>
				</div>
				<div class='form-group'>
					<input ng-model="newRoom.ambassadors[2]" type="text" id="roomAmbassadors3" name="ambassadors3" required class='form-control'>
				</div>
			</div>
		<input type="submit" id='submitButton'></input>
	</form>
</div>