.profile-details {
	background: $main-content-background;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
    padding-top: 20px;
	.user-details {
		margin-top: 30px;
	}
    label {
        font-size: 1.25em;
    }
    p {
        font-size:1.2em;
    }
	img {
		width: 250px;
		height: 250px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid $border-color;
	}
	button {
		margin-bottom: 15px;
	}
	.profile-text {
		font-family: $secondary-font-stack;
	}
}

#edit-button {
    button {
        padding: 8px 17px 8px 17px;
    }
}

#powerupDiv-profile {
	#public-powerup-label {
		font-size: .9em;
		color: $highlight-color;
	}
	img {
		max-width: 100%;
		margin-bottom: 0;
		}
}

//public profile
#public-photo {
    text-align: center;
}


//public profile power up bar
.powerupDiv {
	#public-powerup-label {
		font-size: .9em;
		color: $highlight-color;
	}
	img {
		max-width: 45%;
		}
}
