.profile-details {
	background: #fff;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	.user-details {
		margin-top: 30px;
	}
	img {
		width: 250px;
		height: 250px;
	}
	button {
		margin-bottom: 30px;
	}
}